
@{
  ViewBag.Title = "Index";
}

<h2>
  PopCorn Generator<i id="spinner"></i>
</h2>


@* the generated random information will comes here *@

<p>
  UID: @ViewBag.PopCornId
</p>

<div id="hud">
  <table class="table">
    <tr>
      <th>Distance from Birdy:</th>
      <td><span id="distance"></span></td>
    </tr>
    <tr>
      <th>Sweetness: </th>
      <td><span id="sweetness"></span></td>
    </tr>
    <tr>
      <th>Softness</th>
      <td><span id="softness"></span></td>
    </tr>
  </table>
</div>

@section scripts{
<script src="~/Content/spin.js"></script>
  <script>
    (function () {
      'use strict';
      var distanceElem, sweetnessElem, softnessElem,spinnerElem;
      var speedFactor = 1; // the bigger the faster
      var popCornId = "@ViewBag.PopCornId";

      distanceElem = $('#distance');
      sweetnessElem = $('#sweetness');
      softnessElem = $('#softness');
      spinnerElem = $('#spinner');

      // distance will change every 5 seconds
      var distanceInterval = setValue(distanceElem, getRandom() * speedFactor)
      var sweetnessInterval = setValue(sweetnessElem, getRandom() * speedFactor)
      var softnessInterval = setValue(softnessElem, getRandom() * speedFactor)

      function getRandom() {
        return (Math.random() * 100).toFixed(4);
      }

      function setValue(elem, intervalTime) {
        var factor;

        if (intervalTime < 0.1) {
          intervalTime = 0.1;
        }

        elem.text(getRandom());
        return setInterval(function () {
          factor = getRandom();
          elem.text(factor);
        }, 20000 / intervalTime);
      }

      //signalr initialize
      var square = $.connection.popCornHub;

      $.connection.hub.start().done(function () {
        square.server.newPopCorn(popCornId);
      })

      // When exit
      $(window).bind('unload', function () {
        square.server.popCornQuit(popCornId);
      });

      // states
      var commonState, detailState;
      commonState = setInterval(function () {
        square.server.checkDistance(distanceElem.text(), popCornId);
      }, 5000 / speedFactor)

      square.client.findBetween = function (target, min, max) {
        var dist = Number(distanceElem.text());
        if (dist > min && dist < max) {
          var spinner = new Spinner().spin()
          spinnerElem.append(spinner.el);
          //clearInterval(state);
          detailState = setInterval(function () {
            square.server.sendAll(distanceElem.text(), sweetnessElem.text(), softnessElem.text(), popCornId, target);
          }, 1000 / speedFactor);
        }
      }

    })();
  </script>

}